{{ partial "header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">
{{ partial "subheader.html" . }}
{{ $baseurl := .Site.BaseURL }}

<section id="main">
  <h1 itemprop="name" id="title">{{ .Title }}</h1>
  <div>
        <article itemprop="articleBody" id="content">
           {{ .Content }}
        </article>
  </div>
</section>

<meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">
<meta itemprop="url" content="{{ .Permalink }}">

{{ partial "footer.html" . }}
