<ul id="mainnav">
    <li>
        <a href="/post/">
            <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
            <span> blog </span>
        </a>
    </li>
    <li>
        <a href="/project/">
            <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
            <span> code </span>
        </a>
    </li>
    <li>
        <a href="/presentation/">
            <span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>
            <span> talks </span>
        </a>
    </li>
    <li>
        <a href="/about/">
            <span class="icon"> <i aria-hidden="true" class="icon-cool"></i></span>
            <span> about </span>
        </a>
    </li>
    <li>
        <a href="/bookshelf/">
            <span class="icon"> <i aria-hidden="true" class="icon-heart"></i></span>
            <span> bookshelf </span>
        </a>
    </li>
    <li>
        <a href="/links/">
            <span class="icon"> <i aria-hidden="true" class="icon-link"></i></span>
            <span> links </span>
        </a>
    </li>
    <li>
        <a href="/people/">
            <span class="icon"> <i aria-hidden="true" class="icon-fire"></i></span>
            <span> people </span>
        </a>
    </li>
    <li>
        <a href="/work/">
            <span class="icon"> <i aria-hidden="true" class="icon-atom"></i></span>
            <span> work </span>
        </a>
    </li>
</ul>